/* Add your CSS Here */
div#formRender {
    overflow-x: hidden !important;
}
#form-group-GeneralPurposeSelected{
    margin-top:-5px !important;
}
div#form-group-WELComeScreenColumns {
    margin-top:2.5%;
}
/*New Css*/
#form-group-AutoLoanns img,
#form-group-AutoSelected img,
#form-group-GeneralPurposens img,
#form-group-GeneralPurposeSelected img,
#form-group-HomeSelected img,
#form-group-HomeNs img,
#form-group-OverDraftns img,
#form-group-OverDraftSelected img,
#form-group-MajorPurchaseNs img,
#form-group-MajorPurposeSelected img{
  margin-top:10px !important;
}
#form-group-AutoLoanns,
#form-group-GeneralPurposens,
#form-group-HomeNs,
#form-group-OverDraftns,
#form-group-MajorPurchaseNs
{
  background: #FAFCFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 7px;
}
#form-group-AutoLoanSelection{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw !important;
  line-height: 30px !important;
  /* identical to box height */
  color: #666666 !important;
  margin-top:2%;
  margin-left:2%;
}
#form-group-GeneralPurpose{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw !important;
  line-height: 30px !important;
  /* identical to box height */
  color: #666666 !important;
  margin-top:2%;
  margin-left:2%;
}
#form-group-HomeEquity{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw !important;
  line-height: 30px !important;
  /* identical to box height */
  color: #666666 !important;
  margin-top:2%;
  margin-left:1%;
  width: 800px;
}
#form-group-OverdraftLine{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw !important;
  line-height: 30px !important;
  /* identical to box height */
  color: #666666 !important;
  margin-top:2%;
  margin-left:1%;
  width: 800px;
}

#form-group-MajorPurchase{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw !important;
  line-height: 30px !important;
  /* identical to box height */
  color: #666666 !important;
  margin-top:2%;
  margin-left:1%;
  width: 800px;
}
#form-group-FirstSelection .row>div:nth-child(1),
#form-group-SecondSelection .row>div:nth-child(1),
#form-group-ThirdSelectionColumns .row>div:nth-child(1),
#form-group-FourthSelectionColumns .row>div:nth-child(1),
#form-group-FifthSelectionColumns .row>div:nth-child(1){
  width:11%;
}

#form-group-GeneralPurposens,
#form-group-HomeNs,
#form-group-OverDraftns
{
  height:43px;
}

#form-group-FirstSelection {
  width: 96%;
  height: 43px !important;
  background: #FAFCFF;
  border-radius: 7px;
}
#form-group-SecondSelection{
  width: 96%;
  height: 43px !important;
  background: #FAFCFF;
  box-sizing: border-box;
  border-radius: 7px;
}
#form-group-ThirdSelectionColumns{
  width: 96%;
  height: 43px !important;
  background: #FAFCFF;
  box-sizing: border-box;
  border-radius: 7px;
}
#form-group-FourthSelectionColumns{
  width: 96%;
  height: 43px !important;
  background: #FAFCFF;
  box-sizing: border-box;
  border-radius: 7px;
}
#form-group-FifthSelectionColumns{
  width: 96%;
  height: 43px !important;
  background: #FAFCFF;
  box-sizing: border-box;
  border-radius: 7px;
}
/*
#form-group-FirstSelection {
position: absolute;
width: 889px;
height: 62px;
left: 200px;
top: 190px;
background: #FAFCFF;
border-radius: 7px;
}
#form-group-SecondSelection{
position: absolute;
width: 889px !important;
height: 62px !important;
left: 200px;
top: 295px;
background: #FFFFFF;
box-sizing: border-box;
border-radius: 7px;
}
#form-group-ThirdSelectionColumns{
position: absolute;
width: 889px;
height: 62px;
left: 200px;
top: 400px;
background: #FAFCFF;
border-radius: 7px;
}
#form-group-FourthSelectionColumns{
position: absolute;
width: 889px;
height: 62px;
left: 200px;
top: 505px;
background: #FAFCFF;
border-radius: 7px;
}
#form-group-FifthSelectionColumns{
position: absolute;
width: 889px;
height: 62px;
left: 200px;
top: 610px;
background: #FAFCFF;
border-radius: 7px;
}
*/
span#Selectanoptiontoapplyforloan {
  /* position: absolute !important;
  width: 467px !important;
  height: 42px !important;
  left: 404px !important;
  top: 100px !important;
  line-height: 42px !important;
  */
  font-family: Poppins !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 2vw !important;
  /* identical to box height */
  text-align: center !important;
  color: #4C4C4C !important;
  margin-left: 15%;
}
.highLightcss{
  background: #FFFFFF;
  border: 2px solid #FFD03E;
  box-sizing: border-box;
  border-radius: 7px;
}
.ImgborderCss{
  background: #FFFFFF;
  border-right: 2px solid #FFD03E;
  /*border-bottom: 2px solid #FFD03E;*/
  box-sizing: border-box;
  border-radius: 7px;
  height:60px;
}
#ApplyNowButton{
  background: #027856;
  border-radius: 7px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px !important;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  /* text-align: center !important; */
  margin-left: 35%;
}
#ApplyNowButton:hover{
  background-image:linear-gradient(180deg, #027856 0%, #80BC00 100%) !important;
}
.verticalLineCss{
  position: absolute;
  width: 6px;
  height: 440px;
  /*left: 806px;
  top: 53px;*/
  background: #FFD03E;
  border-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
/*.welcomeColumnsCss{

width: 502px !important;
left: 194px !important;
height: 100px !important;
top: 228px !important;
position:absolute;
top: 60px !important;
/* height: 132px !important;
width: 502px !important;
left: 100px !important;
top: 45px !important;
position: relative;

}*/
/*.optionCss{
font-family: Poppins !important;
font-size: 20px !important;
font-style: normal;
font-weight: 500 !important;
line-height: 30px !important;
letter-spacing: 0em;
text-align: center;
width: 475px;
height: 30px;
color: #525151 !important;
}*/
#form-group-WELComeScreenColumns .row>div:nth-child(3) img{
  width:40% !important;
  /*height:34px !important;
  border: 1px solid #EBEBEB !important;*/
}
/*#form-group-WELComeScreenColumns .row>div:nth-child(3){
position: absolute;
left: 800px;
}*/
.welcomeImageCss img{
  position:absolute;
  /*top:210px !important;*/
  left:41%;
}
.welcomeImageCss{
  width:286px !important;
}
.welcomeCss{
  font-family: Poppins !important;
  font-size: 3.12vw !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color:#5E9EFF;
  margin-bottom: 0px !important;
}
.portalCss{
  font-family: Poppins !important;
  font-size: 1.6vw !important;
  font-style: normal;
  font-weight: 700;
  /*line-height: 60px;*/
  letter-spacing: 0em;
  text-align: center;
  color:#5E9EFF;
}
.formio-component-Welcomelabel{
  text-align: center !important;
  color: #1A1A1A !important;;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 8px !important;;
  line-height: 72px;
}
.formio-component-Selectlabel{
  text-align: center !important;;
  font-size: 34px;
  line-height: 51px;
  color: #4C4C4C;
  font-weight: 400;
}
.formio-component-SelectRadio{
  padding-left:20%;
}
.formio-component-SelectRadio label{
  font-size:20px;
  margin-bottom:15px !Important;
  color:#000000;
  font-weight: 400;
  line-height: 30px;
}
/*.formio-component-SelectRadio input[type=radio]{
margin-top:9px;  
}*/
.formio-component-SelectRadio input[type=radio]{
  height:36px !important;
  width:36px !important;
  left: 1%;
}
/*button CSS*/

.formio-component-ApplyNowBtn{
  text-align:center;
}
button#ApplyNowBtn[disabled] {
  background: #BDBDBD !important;
  border: #BDBDBD !important;
  color:#FFFFFF !important;
  text-align:center !important;
  font-family: Poppins !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 500;
  line-height: 36px !important;
  letter-spacing: 0em;
  text-align: center !important;
  border-radius:7px;
  height: 70px;
  width: 290px;
  left: 814px;
  top: 860px;

}

/*.formio-component-ApplyNowBtn button{
color:#3d977d !important;
background: transparent !important;
border:1px solid #3d977d !important;
width:15%;
border-radius:7px !important;
font-weight:600 !important;;
}
.formio-component-ApplyNowBtn button:hover{
color:white !important;
background: #3d977d !important;
}*/
.formio-component-ApplyNowBtn button{
  font-family: Poppins !important;
  font-size: 24px !important;
  font-style: normal !important;
  line-height: 36px;
  text-align: Center;
  Vertical-align: Top;
  color:#FFFFFF !important;
  background: #027856!important;
  height: 70px;
  width: 290px;
  left: 814px;
  top: 860px;
  border-radius: 7px;

}
.formio-component-ApplyNowBtn button:hover{
  color:#027856 !important;
  background: #FFFFFF !important;
  border:1px solid #027856 !important;
}
/*background*/
.backgroundCss{
  /*background: linear-gradient(
  90deg
  ,#100e0e 0,#696969 70%);*/
  background:transparent;
  border-bottom:1px solid #ddd;
  height:70px !important;
  padding: 5px 10px !important;
  /*width: 95.2% !important;*/
  box-sizing: border-box;
  margin-bottom:20px !important;
}
.noneCss{
  display:none !important
}
.header {
  font-size: 14px !important;
  width: 150px !important;
  margin-top: 17px !important;
  font-weight:600 !important;
}
.riskCss{
  margin-top: -55px !important;
  font-family: "Roboto Bold";
  margin-left:1215px !important;
  color: #fff;
  height: 60px;
  width: 100% !important;
  padding-right: 10px;
}
.containerCss{
  width: 1373px !important;
  margin-top: -14px !important;
}
/*Label CSS*/
.labelCss label{
  font-size:12px;
  font-weight:600;
  font-family:helvetica !important;
}
.labelCss input{
  font-size:12px;
}
.col1Css{
  margin-bottom: 0px !important;
}
/*Header CSS*/
.headerCss span{
  font-weight: bold;
  max-width: 100%;
  height: 20px;
  font-size: 12px;
  outline:none;
  font-family:helvetica !important;
}
.headerCss {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  /*border-bottom: 1px solid black;*/
}
.downloadCss button{
  background-color: transparent !important;
  color: black !important;
  padding-left: 0px !important;
  font-family: helvetica !important;
  font-size: 13px;
}
.downloadColCss .row>div:nth-child(3){
  padding-right: 0px !important;
  padding-left: 37px !important;
}

div#form-group-SanctionReport {
  margin-left:15px !important;
}

div#form-group-SanctionReportDownload {
  margin-left:10px !important;
}
.downloadCss button .fa{
  margin-right:5px!important;
}
.downloadCss{
  width:50px !important;
}
#imgcol{
  border-right:1px solid #ddd;
}

/*Portlet css*/
#loanheader label{
  display:none !important;
}
//content