/* Add your CSS Here */
.commonenablecls label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #3F3D56 !important;
}
.commonenablecls .leftLayout {
  width:50% ;
  padding-top: 11px;
}
.commonenablecls .leftLayoutControl{
  width:50% !important ;
  padding-left:10px !important;
}
.commonenablecls .leftLayout label{
  float: left !important;

}
.commonenablecls input{
  height: 45px !Important;
  border: 0.7px solid #1A1A1A !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;

}
.commonenablecls input {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #000000 !important;
}
.BackBtnCls,.form-field-type-image,.headerconcls,.CRDScoreCls{
  padding-top:0px;
}
.HeaderColCls{
  margin-bottom:0px !important;
  margin-top:20px;
}
.ResetBtncls button{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  /* identical to box height, or 34px */
  background:#fff !important;
  color: #808080 !important;
  height: 50px;
}

.ApproveBtncls button {
  width: 140px;
  height: 50px;
  font-weight: 500 !important;
  font-size: 18px !important;
  color: white !important;
  background: #027856 !important;
  border-radius: 5px;
}
.ApproveBtncls button:hover {
  background: linear-gradient(180deg, #027856 0%, #80BC00 100%) !important;
  color: white !important;
  border: 1px solid #027856 !important;
}
.commoncls label {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 30px;
  color: #1A1A1A !important;
  height:23px;
  letter-spacing: 0em;
}
div#form-group-Residence {
  margin-bottom:0px;
}
.commoncls span {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #1A1A1A !important;
  height:30px;
  letter-spacing: 0em;
}
.commoncls input,textarea{
  height:40px !important;
  background: rgba(255, 255, 255, 0.41);
  border: 0.7px solid #1A1A1A !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  color: #3F3D56 !important
	font-family: Poppins;
  font-style: normal;
  font-weight: 500 !Important;
  font-size: 16px !important;
}
span#PersonalInformationLabel,.loaninfolabelcls span {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px  !important;
  line-height: 42px;
  color: #000000;
}
.radiobtncls label{
  font-family: Poppins !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 36px;
  color: #1A1A1A;
}
.checkboxlabel span{
  font-family: Poppins !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 36px;
  /* identical to box height */
  color: #1A1A1A;
}
.checkboxcls span{
  font-family: Poppins !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 36px;
  color: #1A1A1A;
}
.radiobtncls input[type=radio]{
  margin-top: 5px;
  height: 24.545454025268555px;
  width: 24.545454025268555px;
  left: 12px;
  border-radius: 0px;
}
.radiobtncls .radio-inline:nth-child(2) {
  margin-left: 5% !important;
}
.radiobtncls .topLayoutControl label {
  margin-left: 15px !important;
}
.checkboxcls input[type=checkbox]{
  width: 23px !important;
  height: 23px !important;
  left:15px;
  background: #FFFFFF;
  border: 0.5px solid #4C4C4C !important;
  box-sizing: border-box;
  border-radius: 3px !important;
  margin-top: 6px;
}
.checkboxlabel{
  margin-bottom:0px !important;
}
.radiobtncls .topLayout{
  margin-bottom:15px !important
}
.formio-component-val label,.formio-component-textField label{
  visibility:hidden !important;
}
.formio-component-FirstLabel button,.formio-component-SecondLabel button,.formio-component-ThirdLabel button{
  background:#fff !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 24px;
  color: #293556 !important;
}
.formio-component-FirstLabel button .fa{
  background: #EF5350 !important;
  border-radius: 5px;
  width:auto;
}
.formio-component-SecondLabel button .fa{
  background: #FFB427 !important;
  border-radius: 5px;
  width:auto;
}
.formio-component-ThirdLabel button .fa{
  background: #66BB6A !important;
  border-radius: 5px;
  width:auto;
}
.chartcolcls .row>.col-md-3:nth-child(1) {
  background: #FFFFFF;
  box-shadow: 4px 4px 20px 6px rgba(41, 53, 86, 0.1);
  border-radius: 5px;
  margin-left: 36px;
  padding-left: 0px;
}

.form-field-type-htmlelement canvas,#mainStack>div{
  width:100% !important;
}
.form-field-type-htmlelement {
  height:225px;
}
.form-field-type-htmlelement canvas{
  height: 400px !important;
}
div#form-group-ChartLabelCol {
  margin-left: 15px;
  margin-bottom: 23px;
}
.CRDLabelcls span{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 42px;
  color: #3F3D56 !important;
}
.ApproveMainColcls{
  border: 1px dashed #027856;
  box-sizing: border-box;
  border-radius: 15px;
}
.CustomerInformationColcls{
  background: #FAFCFF;
  border: 1px dashed #027856;
  box-sizing: border-box;
  border-radius: 15px;
}
.CustomerInformationColcls>div {
  margin-left:5px !important
}
.CRDLabelcls{
  margin-left:17px !important;
  margin-bottom:0px !important;
}
.rightcolcontrolcls .leftLayoutControl input {
  border:none !important;
}
/*header*/
.BackBtnCls .fa-arrow-left {
  width:auto;
  color: #027856 !important;
  font-size:18px;
}
.BackBtnCls button {
  background:#fff !important;
  padding-top: 2px;
}
.HeaderColCls .row>div:nth-child(1){
  width:3%
}
.HeaderColCls .row>div:nth-child(2){
  width:20%
}
.HeaderColCls .row>div:nth-child(3){
  width:3%
}
.HeaderColCls .row>div:nth-child(4){
  width:11%;
  padding-left: 3px;
}
.HeaderColCls .row>div:nth-child(5){
  width:3%
}
.HeaderColCls .row>div:nth-child(6){
  width:10%;
  padding-left: 3px;
}
.form-field-type-image .text-center img{
  Width:17px !important;
  Height:17px !important;
}
.formio-component-CustomerName .form-control[disabled]{
  border:none !important;
  background:#fff !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding: 0px;
  color: #1A1A1A;
}
.headerconcls span{
  font-family: Poppins;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px;
  color: #219653 !important;
}
.CRDScoreCls .leftLayout{
  width:50% !important;
}
.CRDScoreCls .leftLayoutControl{
  width:50% !important;
}
.CRDScoreCls label{
  font-family: Poppins;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px;
  /* identical to box height */
  color: #3F3D56 !important;
}
.CRDScoreCls .form-control[disabled]{
  border:none !important;
  background:#fff !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #d20e0e;
}
.DeclineBtnCls button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 140%;
  color: #027856 !important;
  background:#fff !important;
  width: 140px;
  height: 50px;
  border: 1px solid #027856 !important;
  box-sizing: border-box;
  border-radius: 5px;
  float: right;
}
.formio-component-IdentitiyProofCol,.AddressProofColcls {
  background: #FFFFFF;
  border: 0.7px solid #1A1A1A;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom:40px !important
}
.pdfcls .fa{
  width:auto !important;
  color: #4C4C4C;
  font-size: 18px !important;
}
.pdfcls button{
  background:#fff !important;
  height: 60px;
  margin-left: 10px;
  padding-bottom: 0px;

}
.pdfcls,.DownloadNameCls{
  margin-bottom:0px !important;
  height: 60px;
}
.DownloadNameCls .form-control[disabled]{
  height:60px;
  background:#fff !important;
  border:none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 36px;
  /* identical to box height */
  color: #4C4C4C !important;
}
.downloadbtncls,.downloadbtncls button{
  height:60px;
  margin-bottom:0px !important;
}
.downloadbtncls button{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 27px;
  background:#fff !important;
  color: #027856 !Important;
}
.formio-component-IdentitiyProofCol .row>div:nth-child(2),.AddressProofColcls .row>div:nth-child(2) {
  padding-left:0px !important;
}
.form-field-type-image.ChatImagecls .text-center img{
  width:250px !Important;
  height:250px !important;
  /* position: fixed; */
}
/*new*/
.HeaderColCls{
  height:43px;
}
.CRDScoreCls .leftLayout .control-label{
  top:1px;
}
.AprroveBtnColcls .row>div:nth-child(4),
.AprroveBtnColcls .row>div:nth-child(3)
{
  width:150px;
}
.AprroveBtnColcls .row>div:nth-child(1){
  width:calc(100% - 400px);
}
.AprroveBtnColcls .row>div:nth-child(2){
  width:80px;
}
.form-field-type-columns {
  margin-bottom:0px !important
}
.ApproveMainColcls {
  margin-bottom:15px !important
}
div#form-group-IdentitiyProofCol {
  margin-bottom:15px !important;
}
.MainColCls {
  height: calc(100vh - 40px);
  overflow: auto;
}
.HeaderColCls{
  height: 40px;
}
.ChatImagecls {
  position: absolute;
  height: 250px;
  bottom: 0;
  right: 0;
} 
