/* Add your CSS Here */
.datagrid-add{
  display:none !important;
}
span#LoanApplicationFiles {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 45px;
  color: #000000 !important;
}
input#TotalFiles {
  border:none !important;
  padding-top: 5px !important;
}
.totalfilescls label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: -0.02em;
  color: #000000;
}
.totalfilescls .leftLayout{
  width:50% !important;
}
.totalfilescls .leftLayoutControl{
  width:50% !important;
}
.totalfilescls .leftLayoutControl input{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  background:#fff !important;

  letter-spacing: -0.02em;

  color: #000000;
}
.totalfilescls .leftLayoutControl .form-control[disabled]{
  background:#fff !important;
}
.filtercls button{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
  background:#fff !important;
  letter-spacing: -0.02em;
  color: #000000 !important;
  float: right;
}
.calendercls span.fa.fa-calendar {
  width:auto !important;
  color: #027856;
  font-size:13px;
}
.calendercls button{
  background: #fff !important;
}
.formio-component-CurrentDate .topLayoutControl .form-control[disabled]{
  background:#fff !important;
  border:none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #000000;
}
.formio-component-MainCol1 .row>div:nth-child(1) {
  width:18%;
}
.formio-component-MainCol1 .row>div:nth-child(2) {
  width:15%;
}
.formio-component-MainCol1 .row>div:nth-child(4) {
  width: 3%;
  margin-top: 8px;
}
.formio-component-MainCol1 .row>div:nth-child(5) {
  width:10%;
  padding-left:0px !important;
  margin-top: 13px;
}
.formio-component-MainCol1 .row>div:nth-child(6) {
  width:7%;
  margin-top: 6px;
}
.formio-component-MainCol1 .row>div:nth-child(3) {
  width:47%;
}
/*summaryform css*/

.loanlistsummaryformcls .list-group-header,.list-group-header>div {
  background-color:#FFFFFF !important;
}
.loanlistsummaryformcls .list-group-header{
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #000000 !Important;
}
.loanlistsummaryformcls ul .list-group-header .row .summaryHeader:nth-child(1){
  width:2%;
}
.loanlistsummaryformcls ul .list-group-header .row .summaryHeader:nth-child(2){
  width:27%;
}
.loanlistsummaryformcls ul .list-group-header .row .summaryHeader:nth-child(3){
  width:22%;
}
.loanlistsummaryformcls ul .list-group-header .row .summaryHeader:nth-child(4){
  width:2%;
}
.loanlistsummaryformcls ul .list-group-header .row .summaryHeader:nth-child(5){
  width:22%;
}
.loanlistsummaryformcls ul .list-group-header .row .summaryHeader:nth-child(6){
  width:20%;
}
.loanlistsummaryformcls ul .list-group-header .row .summaryHeader:nth-child(7){
  width:5%;
}

/*.loanlistsummaryformcls ul .list-group-header .row .summaryHeader:nth-child(5) .summaryHeaderName{
display:none;
}*/
.loanlistsummaryformcls .summaryRowLabel{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  /* identical to box height, or 255% */
  letter-spacing: -0.02em;
  color: #0F0F0F !important;
}
.loanlistsummaryformcls .summarycontrol:nth-child(1) .col-md-2 .fa{
  width: auto;
  color: #C4C4C4;
  font-size:14px;
} 
.loanlistsummaryformcls .summarycontrol:nth-child(1) .col-md-2 button{
  width: 23px !important;
  height: 23px !Important;/* left: 187px; */
  background: #F6F6F6;
  margin-top: 4px;
  margin-bottom: 0px;
  padding-top: 3px;
}
.loanlistsummaryformcls .summarycontrol:nth-child(1) .col-md-2{
  width:2%;
  margin-bottom: 0px;
}
.loanlistsummaryformcls .summarycontrol:nth-child(2) .summaryRowLabel{
  width:27%;
}
.loanlistsummaryformcls .summarycontrol:nth-child(3) .summaryRowLabel{
  width:22%;
  padding-left: 6px;
}
.loanlistsummaryformcls .summarycontrol:nth-child(4) .summaryRowLabel{
  width:2%;
  padding-left: 6px;
}
.loanlistsummaryformcls .summarycontrol:nth-child(5) .summaryRowLabel{
  width:22%;
}
.loanlistsummaryformcls .summarycontrol:nth-child(6) .summaryRowLabel{
  width:20%;
  padding-left: 6px;
}
.loanlistsummaryformcls .summarycontrol:nth-child(7) .summaryRowLabel{
  width:5%;
}

.loanlistsummaryformcls .summarycontrol:nth-child(7) .col-md-2 {
  width:4%;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 4px !important;
}
.loanlistsummaryformcls .summarycontrol:nth-child(7) .col-md-2 button{
  font-family: Poppins;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #007856;
  background:#F5F5F5 !important;
  width: 34px;
  height: 20px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*visibility:hidden;*/
}
.loanlistsummaryformcls .list-group-item:hover,.loanlistsummaryformcls .list-group-item:focus{
  background-color:#FFFFFF !important;

}
/*New*/
.formio-component-LoanApplicationFiles,.totalfilescls,.calendercls,.formio-component-CurrentDate {
  margin-bottom:5px !important;
}
div#form-group-MainCol1{
  margin-bottom:0px;
}
.loanlistsummaryformcls,.ng-not-empty{
  margin-top:0px !important;
  padding-top:0px !important;
}
.loanlistsummaryformcls ul li{
  border-left:none !important;
  border-right:none !important;
}
.loanlistsummaryformcls ul li:nth-child(1){
  border-top:none !important;
}
/*new*/
.loanlistsummaryformcls .summarycontrol:nth-child(4) .col-md-2 .fa{
  width: auto;
  color: #C4C4C4;
  font-size:14px;
} 
.loanlistsummaryformcls .summarycontrol:nth-child(4) .col-md-2 button{
  width: 23px !important;
  height: 23px !Important;/* left: 187px; */
  background: #F6F6F6;
  margin-top: 4px;
  margin-bottom: 0px;
  padding-top: 3px;
}
.loanlistsummaryformcls .summarycontrol:nth-child(4) .col-md-2{
  width:2%;
  margin-bottom: 0px;
}
/*Subform*/
/*subform*/
.UserSubFormCls .btn:hover{
  background:none !important;
  color: #2c5f8c !important;
}
.UserSubFormCls .buttonText{
  display:none !important;
}
.UserSubFormCls table tr td:nth-last-child(1):not(.customDataNotFoundMsg){
  display:none;
}
.UserSubFormCls .btn{
  padding: 4px 5px 2px 5px !important;
  margin: 0px !important;
  border-radius: 3px !important;
  background: none !important;
  /* color: #2c5f8c;*/
  color:black;
  font-size:17px !important;
}

.UserSubFormCls td, 
.UserSubFormCls th {
  /* border: 1px solid #ddd; */
  border-bottom: 1px solid #E5E5E5;
}

.UserSubFormCls table tr td{
  padding:8px 4px 6px 2px !important;
  line-height:10px !important;
}

.UserSubFormCls table tbody tr th{
  font-weight: 500 !important;
  font-size: 1.4vw !important;
  font-family: Poppins !important;
  background-color: #FFFFFF !important;
  color: #000000!important;
  /*font-size:13px !important;
  font-family:Roboto !important;
  color:#000000 !important;
  background-color:#c6c6ce !important;
  font-family:Roboto !important;
  font-size:12px !important;
  font-weight: bold !important;*/
  padding-left: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.UserSubFormCls .datagrid-pagination{
  /* border:1px solid #ddd !important; */
  /*border-top:none !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;*/
  text-align:center !important;
  padding-top:4px !important;
  background-color: #FFFFFF;
  width:100% !important;
  /*background-color:#c6c6ce !important;*/
  height:40px !important;
}
.UserSubFormCls .subForm-CopyIcon,
.UserSubFormCls .subForm-DeleteIcon,
.UserSubFormCls .subForm-add{
  display:none !important;
}
.UserSubFormCls .pagination{
  float:right !important;
  margin-right: 5px !important;
}
.UserSubFormCls table tbody tr td {
  background:transparent !important;
  padding: 2px 0px 2px 0px !important;
}
.UserSubFormCls table tbody tr td .form-group input.form-control[disabled]{
  background: transparent !important;
  /* padding:0px;*/
  border: none;
  text-align: left;
  text-overflow: ellipsis;
  /*font-family: Roboto !important;*/
  font-size: 12px !important;
  color: #555555 !important;
  font-weight: normal !important;
  padding-bottom: 0px;
}
.UserSubFormCls table tbody tr:nth-child(odd) {
  background-color: #ffffff !important;
}
.UserSubFormCls .datagrid-add{
  float:left !important;
  padding: 5px 0 0 5px;
}
.UserSubFormCls table tr td{
  padding:0px !important;
}
.UserSubFormCls table tr td input{
  border:none !important;
  box-shadow:none !important;
  color: #0F0F0F !important;
}
.UserSubFormCls table tbody tr td:nth-child(1) .fa-user {
  color: #C4C4C4;
  font-size:14px;
  /* bottom: 6px; */
}
.UserSubFormCls table tbody tr td:nth-child(4) .fa-home {
  color: #C4C4C4;
  font-size:16px;
}
.UserSubFormCls table tbody tr td:nth-child(4) .fa-car {
  color: #C4C4C4;
  font-size:13px;
}
.UserSubFormCls table tbody tr td:nth-child(4) .fa-user-circle-o {
  color: #C4C4C4;
  font-size:14px;
}
.UserSubFormCls table tbody tr td:nth-child(5) .form-group input.form-control[disabled]{
  padding-left:0px;
}
.UserSubFormCls table tbody tr th:nth-child(5){
  position: relative;
  left: -38px;
}
.UserSubFormCls table tbody tr th:nth-child(2){
  position: relative;
  left: -32px;
}
.UserSubFormCls table tbody tr td:nth-child(7) button:before {
  content:"Open";
  background-color:#EDECEC;
  font-size:12px;
  font-family:Poppins;
}
.UserSubFormCls table tbody tr td:nth-child(7) .fa-file {
  color: #C4C4C4;
  font-size:14px;
}