/*WizardCSS*/
/*ui select*/
.ui-select-choices-row{
  height:40px !important;
}
.ui-select-choices-row .ui-select-choices-row-inner span{
  font-size:12px !important;
}
.formio-component-Suffix span.ui-select-match-text.pull-left {
  text-align:center;
  color:#1A1A1A;
  /*  margin-top:5px;*/
}
#form-group-DOB .dropdown-menu{
  margin-left: -182px !important;
}
#form-group-LoanTenureSelect span.ui-select-match-text.pull-left,
#form-group-RentStatus span.ui-select-match-text.pull-left{
  color:#1A1A1A;
  margin-top:0px;
}
.dropdownListItems label{
  height:40px !important;
}
.ui-select-match-text span{
  font-size:1.2vw;
}
.dropdownListItems label span{
  font-size:12px !important;
  top:7px;
}
.input-group-btn button{
  height:40px;
  background:#027856 !important;
}
/*Radio btns*/
/*input[type="radio"]:checked:before {
content: "";
display: block;
position: relative;
top: 3px;
left: 3px;
width:15px;
height: 15px;
border-radius: 50%;
background: #027856;
}*/
input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 2px;
  left: 2px;
  width:12px;
  height: 12px;
  border-radius: 50%;
  background: #027856;
}
.bs-wizard{
  padding-top:20px !important;
}
.Activestepper::before{
  content: "\f107" !important;
  font-family: 'FontAwesome';
  font-size: 1.4vw;
  position: absolute;
  line-height: 26px;
  width: 26px;
  color: #4BAE4F;
  margin-left:42px;
  margin-top:-7%;
}
ul#previewformtab.activeclick > li > a{
  font-size:0px !important;
}
ul#previewformtab.activeclick > li > a:before{
  content:"\f00c" !important;
  font-family: 'FontAwesome';
  font-size: 16px;
}
.stepperAfter{
  /*color:#027856 !important;*/
  color:#828282 !important;
}
.Activestepper{
  color:#1A1A1A !important;
  font-weight:600 !important;
}
.formio-wizard-wrapper{
  padding:0px !important;
}

ul#previewformtab > li > a.active {
  color:#1A1A1A !important;
  background:#FFFFFF !important;
  border:1px solid #80BC00 !important;
  text-align:center !important;
}

ul#previewformtab > li > a{
  /*padding:4px 0px 0px 4px !important;*/
  padding: 2px 0px 0px 1px !important;
  color:#1A1A1A !important;
  border:1px solid #4C4C4C !important;
  /*border:1px solid #80BC00 !important;*/
  background:#FFFFFF !important;
  font-family: Poppins !important;
  font-size: 1vw !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  width:30px !important;
  height:30px !important;
}

.nav-pills>li>a{
  border-radius:50% !important;
}
#donotwrapprefixcss div#p_p_id_workspaceformportlet_WAR_nbtlfportletform_ {
  height:100% !important;
}
/*#donotwrapprefixcss .nav:before {
position: absolute !important;
content: ""!important;
width: 100%!important;
height: 2px!important;
left: 0!important;
background: grey !important;
top: 38% !important;
margin-left:50px !important;
}*/
ul#previewformtab.activeclick > li > a{

  /*background:#027856 !important;*/
  background: #80BC00 !important;
  color: white !important;
  border:1px solid  #80BC00 !important;
}

#donotwrapprefixcss .nav.activeclick:before {
  background: #80BC00 !important;
}
#donotwrapprefixcss .nav.activeclick:after {
  color:  #80BC00 !important;
}
ul#previewformtab > li > a.active,
ul#previewformtab > li > a{
  pointer-events:none;
}
.bs-wizard div:nth-child(1):after{
  content:"Loan Selection" !important;
  margin-left:15px !important;
  font-family: Poppins !important;
  font-size: 1.1vw !important;
  font-style: normal;
  font-weight: 500;
  line-height: 24px !important;
  letter-spacing: 0em;
}
.bs-wizard div:nth-child(2):after{
  content:"Personal Information" !important;
  font-family: Poppins !important;
  font-size: 1.1vw !important;
  font-style: normal;
  font-weight: 500;
  line-height: 24px !important;
  letter-spacing: 0em;
}
.bs-wizard div:nth-child(3):after{
  content:"Loan Information" !important;
  font-family: Poppins !important;
  font-size: 1.1vw !important;
  font-style: normal;
  font-weight: 500;
  line-height: 24px !important;
  letter-spacing: 0em;
}
.bs-wizard div:nth-child(4):after{
  content:"Terms & Conditions" !important;
  font-family: Poppins !important;
  font-size: 1.1vw !important;
  font-style: normal;
  font-weight: 500;
  line-height: 24px !important;
  letter-spacing: 0em;
}
.bs-wizard div:nth-child(5):after{
  content:"Confirmation" !important;
  font-family: Poppins !important;
  font-size: 1.1vw !important;
  font-style: normal;
  font-weight: 500;
  line-height: 24px !important;
  letter-spacing: 0em;
  margin-left: 20px;
}
.bs-wizard>.bs-wizard-step{
  width:20%;
}
#previewformtab li:first-child{
  margin-left:30px !important;
}

.list-inline{
  display:none !important;
}
.bs-wizard.row{
  overflow:unset;
  width:90%;
  margin-bottom: 0px !important;
}
.bs-wizard :nth-child(5) ul:before{
  display:none !important;
}
/*Personal info css*/
.previewCss button{
  background:transparent !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8vw !important;
  line-height: 36px !important;
  color: #027856 !important;
  margin-top: -20%;
  margin-left: -15%;
}
.previewCss button:hover{
  color: #027856 !important;
  background:transparent !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size:0.8vw !important;
  line-height: 36px !important;
  margin-top: -20%;
  margin-left: -15%;
}

/*Image css*/
#form-group-ThumbnailImg{
  width: 15%;
  /* height: 55px; */
  margin-left: 22%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.17));
  border-radius: 3px;
}
#form-group-ThumbnailImg1{
  width: 15%;
  /* height: 55px; */
  margin-left: 22%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.17));
  border-radius: 3px;
  margin-top: -13% !important;
}

#form-group-ThumbnailImg2{
  width: 15%;
  /* height: 55px; */
  margin-left: 22%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.17));
  border-radius: 3px;
}

#form-group-ThumbnailImg3{
  width: 15%;
  /* height: 55px; */
  margin-left: 22%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.17));
  border-radius: 3px;
}

#form-group-CloseImg{
  width:15px !important;
  height:15px;
  margin-left:35%;
  margin-bottom:-1%;
  margin-top: -2%;
}
#form-group-CloseImg1 img{
  width: 15px !important;
  height: 15px;
  margin-right:59% !important;
  margin-top: -2%;
}

#form-group-Close3Img{
  width:15px !important;
  height:15px;
  margin-left:35%;
  margin-bottom:-1%;
  margin-top: -3%;
}

#form-group-CloseImg3{
  width:15px !important;
  height:15px;
  margin-left:35%;
  margin-bottom:-1%;
  margin-top: -3%;
}

.checkboxCss:before{
  content: '\f058';
  font-family: 'FontAwesome';
  font-size: 18px;
  position: absolute;
  line-height: 26px;
  width: 26px;
  color: #4BAE4F;
  z-index: 1000;
  padding-top: 15px;
  padding-left:5px;
}
.checkboxCss1:before{
  content: '\f058';
  font-family: 'FontAwesome';
  font-size: 18px;
  position: absolute;
  line-height: 26px;
  color: #4BAE4F;
  z-index: 1000;
  margin-left:-14px !important;
  margin-top:5px;
}
#form-group-StepperadioField4 input[type=radio],
#form-group-StepperadioField5 input[type=radio]{
  margin-top: 5px;
  height: 16.545454025268555px;
  width: 16.545454025268555px;
  left: 24px;
  border-radius: 0px;
}
#form-group-StepperadioField4 label,
#form-group-StepperadioField5 label{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  line-height: 36px;
  /* identical to box height */
  color: #1A1A1A;
}
#form-group-StepperadioField4 label,
#form-group-StepperadioField5 label{
  padding-left:5px !important;
}
#form-group-StepperadioField4 .radio-inline:nth-child(1),
#form-group-StepperadioField5 .radio-inline:nth-child(1){
  margin-left:1% !important;
}
#form-group-StepperadioField4 .radio-inline:nth-child(2),
#form-group-StepperadioField5 .radio-inline:nth-child(2){
  margin-left:5% !important;
}


.fileRestrictCss{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw !important;
  /* line-height: 27px;
  identical to box height */

  text-align: center;
  color: #979797 !important;
}
.dragLabelCss{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw !important;
  /* line-height: 30px;
  identical to box height */
  text-align: center !important;
  color: #4C4C4C !important;
  margin-bottom:0px !important;
}
/*#form-group-IdentityProof input,
#form-group-AddressProof1 input,
#form-group-EmployeeDocuments input{
width:24px !important;
height:24px !important;
}
*/
#form-group-StepperFormcolumns{
  margin-bottom:-5%;
}
#form-group-IdentityProof,
#form-group-AddressProof1{
  width:44%;
}
#form-group-IdentityProof label,
#form-group-AddressProof1 label,
#form-group-EmployeeDocuments label{
  font-family: Poppins;
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#1A1A1A;
}

span#Listofdocumentstobeuploaded {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw !important;
  line-height: 30px;
  /* identical to box height */
  color: #1A1A1A !important;
}

#form-group-IdentityProof,
#form-group-EmployeeDocuments{
  margin-left:20px !important;
}
.formio-component-IdentityProof label,
#form-group-AddressProof1 label,
.formio-component-EmployeeDocuments label{
  /*margin-left:10px !important;*/
  padding-left: 10px !important;
}

.formio-component-IdentityProof input[type=radio],
#form-group-AddressProof1 input[type=radio],
#form-group-EmployeeDocuments input[type=radio]{
  margin-top: 7px;
  height: 16.545454025268555px;
  width: 16.545454025268555px;
  left: 24px;
  border-radius: 0px;
}
/*#form-group-labelproof1{
font-family: Poppins !important;
font-size: 14px !important;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
}
*/
#form-group-FileImage{
  width: 9% !important;
  height: 9% !important;
  margin-left: 42% !important;
  margin-top: 20px;
  text-align: center !important;
  margin-bottom: 0px;
}
#form-group-UploadedEndLabel{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw !important;
  /*  line-height: 33px;
  identical to box height */
  text-align: center;
  /*margin-top:40% !important;*/
  color: #000000;
  padding-bottom: 30px;
}
#form-group-FileUploadColumns .row>div:nth-child(1){
  background: #FFFFFF !important;
  /* Clickable */
  border: 1px dashed #027856 !important;
  box-sizing: border-box;
  border-radius: 7px;
  width: 80%;
  /*height: 289px;*/
}
#form-group-LoaderGif img{
  width:141px !important;
  height:141px !important;
}
#form-group-uploadedAccept img{
  width: 80px !important;
  height: 80px !important;
  margin-top: 5% !important;
}
#form-group-UploadedLabel{
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw !important;
  line-height: 33px;
  /* identical to box height */
  text-align: center;
  color: #000000;
  margin-top: -16%;
  padding: 30px;
}
#form-group-FileControl{
  width: 62% !important;
  margin-left: 19%;
  margin-top: -15%;
}
#form-group-Listofdocumentstobeuploaded{
  margin-bottom:0px !important;
  height:24px !important;
}
#form-group-DrivingLicense1{
  font-family: Poppins;
  font-size: 1.1vw !important;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-left:14.5%;
  margin-top:-8%;
}
#form-group-Drivinglicensepassport2{
  font-family: Poppins;
  font-size: 1.1vw !important;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-left:9%;
  margin-top:-8%;
}
#form-group-labelproof1{
  font-family: Poppins;
  font-size: 1.1vw !important;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-left:14%;
  margin-top:-5%;
  width: 88%;
}
#form-group-labelproof2{
  font-family: Poppins;
  font-size: 1.1vw !important;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-left:8.5%;
  margin-top:-5%;
}
#form-group-EmployeeDocuments .radio-inline:nth-child(2){
  margin-left:38% !important;
}
/*labelCSS*/
.formio-component-Welcome{
  /*color:black;
  font-weight:600;
  font-size:18px;
  margin-bottom:8px !important;*/
  font-family: Poppins !important;
  font-size: 1.9vw !important;
  font-style: normal;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #1A1A1A;
  margin-bottom:0px !important;
  height: 51px;
  width: 163px;
}
/*.formio-component-label1,
.formio-component-label2,
.formio-component-label3{
font-size:13px;
margin-bottom:0px !important;
}*/
#form-group-label1 {
  margin-bottom:5px !important;
}
.containerCss span {
  font-size:14px;
}
.containerCss .MainClass:nth-child(1){
  margin-left:1px !important;
}
#form-group-Agelabel {
  font-family: Poppins !important;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
#form-group-label1,
#form-group-label2{
  font-family: Poppins !important;
  font-size: 1.3vw !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 1.5vw !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #4C4C4C !important;
  height: 25px;
}
.formio-component-Termscolumns{
  /*background: #F2F2F2;*/
  padding:10px !important;
  width:100%;
  /*height:400px;*/
  border-radius:15px !important;
  font-size:14px !important;
  background: #FAFCFF;
  border: 1px dashed #027856;
  box-sizing: border-box;
  border-radius: 15px;
}
.formio-component-label3{
  /*margin-top:15px;
  color:#242222;
  font-size:15px !important;
  font-weight:bold;*/
  font-family: Poppins;
  font-size: 1.4vw !important;
  font-style: normal;
  font-weight: 500;
  /*line-height: 36px;*/
  letter-spacing: 0em;
  text-align: left;
  color:#1A1A1A;
  margin-bottom:0px !important;
  height:28px;
}
#form-group-ConditionLabel2,
#form-group-Conditionlabel1,
#form-group-Conditionlabel3{
  margin-bottom:0px;
  font-family: Poppins !important;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.boldCss {
  font-weight:500;
  color:#1A1A1A !important
}
.MainClass b,
.MainClass label{
  font-family: Poppins !important;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color:#4C4C4C !important;
}

.MainClass span{
  font-family: Poppins !important;
  font-size: 1.3vw !important;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.InnerClass span,
.InnerClass label
{
  font-family: Poppins !important;
  font-size: 1.3vw !important;
  font-style: normal;
  font-weight: normal !important;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
/*buttonCSS*/
.formio-component-Backbtn button,
.formio-component-Backbtn1 button,
.formio-component-BackBtn3 button,
.formio-component-BackBtn4 button,
.formio-component-BackBtnLast button{
  background:transparent !important;
  color: #027856 !important;
  font-family: Poppins !important;
  font-size: 1.4vw !important;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  width: 150px;
  height: 49px;
  border:1px solid #027856 !important;
  border-radius:7px !important;
}
.formio-component-Backbtn button:hover,
.formio-component-Backbtn1 button:hover,
.formio-component-BackBtn3 button:hover,
.formio-component-BackBtn4 button:hover,
.formio-component-BackBtnLast button:hover{
  border:3px solid #027856 !important;
  font-size: 1.4vw !important;
  border-radius:7px !important;
  background: #FFFFFF;
  /* Clickable */
  width:155px !important;
  height:54px !important;
  box-sizing: border-box;
}
.formio-component-Next1 button,
.formio-component-Next2 button,
.formio-component-Continuebtn button,
.formio-component-NextBtn3 button,
.formio-component-NextBtn4 button,
.formio-component-SubmitLast button,
.formio-component-NextLast button
{
  /*color:#3d977d !important;
  background: transparent !important;
  border:1px solid #027856 !important;
  width:25%;
  border-radius:3px !important;
  font-weight:600 !important;*/
  background:#027856 !important;
  color: white !important;
  font-family: Poppins !important;
  font-size: 1.4vw !important;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  width: 150px;
  height: 49px;
  border-radius:7px !important;
  margin-left: 75%;
}
.formio-component-Next1 button,
.formio-component-Next2 button,
.formio-component-Continuebtn button,
.formio-component-NextBtn3 button,
.formio-component-NextBtn4 button
{
  float:right !important;
}
button#Next1[disabled],
button#NextBtn4[disabled],
button#NextLast[disabled],
button#Next2[disabled],
button#NextBtn3[disabled]{
  background: #BDBDBD !important;
  border: #BDBDBD !important;
  color:#FFFFFF !important;
  text-align:center !important;
  font-family: Poppins !important;
  font-size: 1.4vw !important;
  font-style: normal !important;
  font-weight: 500;
  line-height: 36px !important;
  letter-spacing: 0em;
  border-radius:7px;
  height: 49px;
  width: 150px;
  border-radius:7px !important;
  margin-left: 75%;
}
button#NextBtn4[disabled]:hover {
  background: #BDBDBD !important;
  border: #BDBDBD !important;
  color:#FFFFFF !important;
  text-align:center !important;
  font-family: Poppins !important;
  font-size: 1.4vw !important;
  font-style: normal !important;
  font-weight: 500;
  line-height: 36px !important;
  letter-spacing: 0em;
  text-align: center !important;
  border-radius:7px;
  height: 49px;
  width: 150px;
  border-radius:7px !important;
  margin-left: 75%;
}
span.fa.fa-long-arrow-right  {
  height: 23.999996185302734px;
  width: 23.999996185302734px;
  left: 30px;
  top: 6px;
  border-radius: 0px;
  font-size:24px;
}
span.fa.fa-long-arrow-left{
  height: 23.999996185302734px;
  width: 23.999996185302734px;
  left: 6px;
  top: 6px;
  border-radius: 0px;
}
/*#Next1,
#Continuebtn{
background:#027856 !important;
color: white !important;
font-family: Poppins !important;
font-size: 1.5vw !important;
font-style: normal;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
width: 150px;
height: 50px;
border-radius:7px !important;
}*/
#Next1:hover,
#Continuebtn:hover,
#Next2:hover,
#NextBtn3:hover,
#NextBtn4:hover,
#SubmitLast:hover{
  background: linear-gradient(180deg, #027856 0%, #80BC00 100%) !important;
  color: white !important;
  border:1px solid #027856 !important;
}
/*FunctionColCSS*/
#form-group-TermsMainCol{
  margin-bottom:0px !important;
}
.formio-component-LoanSelection{
  color: #1A1A1A;
  font-family: Poppins !important;
  font-size: 1.7vw !important;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  width: 246px;
  height: 20px;
}
.formio-component-Q4label,
.formio-component-Q5label{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  /* identical to box height */
  color: #1A1A1A;
  font-size:1.4vw !important;
}
.formio-component-Q1label,
.formio-component-Q2label,
.formio-component-Q3,
.formio-component-Q6label,
.formio-component-Q7label{
  margin-bottom:5px !important;
}
.formio-component-Q4label,
.formio-component-Q5label{
  margin-bottom:0px !important;
}
.formio-component-Q1label,
.formio-component-Q2label,
#form-group-Q3,
#form-group-StepperadioField1 label,
#form-group-StepperadioField2 label,
#form-group-StepperadioField3 label{
  font-family: Poppins !important;
  font-size: 1.4vw !important;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  height: 26px;
  margin-bottom:0px !important;
}
#form-group-StepperadioField1 .radio-inline:nth-child(1),
#form-group-StepperadioField2 .radio-inline:nth-child(1),
#form-group-StepperadioField3 .radio-inline:nth-child(1){
  margin-top:10px;
}
#form-group-StepperadioField1 label,
#form-group-StepperadioField2 label,
#form-group-StepperadioField3 label{
  margin-left:0px;
}

#form-group-AccountNumber label{
  font-family: Poppins;
  font-size: 1.2vw !important;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color:#1A1A1A;
  height: 30px;
}
#form-group-AccountNumber{
  min-width:15% !important;
  max-width:20%;
}
#form-group-AccountNumber input{
  min-width: 240px !important;
  /* max-width: 242px; */
  height: 40px;
  font-size: 1.2vw;
  border: 1px solid #1A1A1A;
  border-radius: 5px !important;
}
#form-group-StepperadioField1 input[type=radio],
#form-group-StepperadioField2 input[type=radio],
#form-group-StepperadioField3 input[type=radio],
#form-group-StepperadioField4 input[type=radio],
#form-group-StepperadioField5 input[type=radio],
#form-group-StepperadioField6 input[type=radio],
#form-group-StepperadioField7 input[type=radio]{
  margin-top:10px;  
  height: 16.545454025268555px;
  width: 16.545454025268555px;
  left: 12px;
  border-radius: 0px;
}
#form-group-StepperadioField1 .radio-inline:nth-child(1),
#form-group-StepperadioField2 .radio-inline:nth-child(1),
#form-group-StepperadioField3 .radio-inline:nth-child(1){
  margin-left:10px !important;
}
#form-group-StepperadioField1 .radio-inline:nth-child(2),
#form-group-StepperadioField2 .radio-inline:nth-child(2),
#form-group-StepperadioField3 .radio-inline:nth-child(2),
#form-group-StepperadioField3 .radio-inline:nth-child(3){
  margin-left:162px !important;
}
.containerCss{
  margin-left:0px !important;  
}
.InnerClass{
  margin-left:15px;
}
/*page2 CSS*/
.formio-component-Personallabel{
  height:30px !important;
}
.formio-component-Documentslabel,
.formio-component-Personallabel{
  color:black !important;
  margin-bottom:0px !important;
  font-weight:600;
  font-family: Poppins !important;
  font-size: 1.4vw !important;
  font-style: normal;
  font-weight: 400;
  /*line-height: 51px;*/
  letter-spacing: 0em;
  text-align: left;
  height:20px;
}
.formio-component-uploadColumn{
  background: #FAFCFF !Important;
  height: 260px;
  /*width: 1784px;
  left: 30px;
  top: 111px;*/
  border-radius: 10px;
}
.table-bordered{
  visibility:hidden !important;
}
.form-field-type-file .fileSelector{
  background:white !Important;
  padding:10px !important;
}

.formio-component-uploadColumn .col-md-6:nth-child(2){
  padding-right:10px;
}
.personalInfoLabelCss{
  margin-bottom:0px;
}
.personalInfoLabelCss label{
  font-family: Poppins !important;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#1A1A1A;
  height:30px;

}
.personalInfoLabelCss .ui-select-toggle{
  height:40px !important;
  border: 0.7px solid #1A1A1A !important;
  border-radius: 5px !important;
}
.personalInfoLabelCss input{
  height:40px !important;
  border: 0.7px solid #1A1A1A !important;
  font-size: 1.1vw !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;

  line-height: 33px;
  /* identical to box height */
  color: #1A1A1A !important;
  background: rgba(255, 255, 255, 0.41);
  box-sizing: border-box;
  border-radius: 5px !important;
}

#form-group-LengthoftimeatResidence{
  font-family: Poppins !important;
  font-size: 1.2vw !important;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#1A1A1A;
  height:30px !important;
}
#form-group-Dateval input,
#form-group-Monthval input{
  font-family: Poppins !important;
  font-size: 1vw !important;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#1A1A1A !important; 
  height:40px !important;
  border: 0.7px solid #1A1A1A !important;
  border-radius:5px !important;
}

/*Data Col 1 CSS*/
.formio-component-DataCol1,
.formio-component-DataCol2,
.formio-component-DataCol3,
.formio-component-DataCol4,
.formio-component-DataCol5{
  margin-bottom:5px !important;
}
.formio-component-DataCol1 .col-sm-3{
  width:25% !important;
  padding-right:0px !important;
}
.formio-component-DataCol1 .col-sm-1 {
  /*width:5% !important;*/
  padding-right:0px !important;
}
.formio-component-Suffix .ui-select-container{
  min-width:90px !important;
}
.formio-component-DataCol1 .col-sm-2 {
  margin-top:0px;
  /*  margin-left:42px !important;*/
  float:right;
}
.formio-component-DataCol3 .col-md-6{
  width:37%;
}
.formio-component-DataCol4 .col-md-6{
  width:37%;
  margin-top:-20px;
}
#form-group-DataCol5{
  height:70px;
}
.formio-component-LengthoftimeatResidence{
  height: 20px !important;
  margin-bottom: 5px !important;
  font-size:1.2vw !important;
}
/*Page3 CSS*/
.formio-component-LoanDetails{
  font-family: Poppins !important;
  font-size: 1.5vw !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left !important;
  color: #1A1A1A !important;
  margin-bottom:0px !important;
}
#form-group-TotalIncome1{
  margin-bottom:0px !important;
}
#form-group-LoanAmount label,
#form-group-TotalIncome1 label{
  font-family: Poppins;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#1A1A1A;
  height:30px;
}
#form-group-Label1Last{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6vw;
  line-height: 45px;
  /* identical to box height */
  color: #000000;
}
#form-group-SignatureLabel{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw !important;
  line-height: 30px;
  /* identical to box height */
  color: #1A1A1A;
  height: 10px;
}
div#form-group-Signature\.file{
  background: #FFFFFF;
  /* Clickable */
  border: 1px dashed #027856 !important;
  box-sizing: border-box;
  border-radius: 7px;
  width:20%;
  padding:0% 2% 2% 2%;
}


#form-group-TotalIncome1 input{
  width:1070px !important;
}
#form-group-Q6label,
#form-group-Q7label{
  font-family: Poppins;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color:#1A1A1A;
}
#form-group-StepperadioField6 .radio{
  margin-left:10px !important;
  padding-left:0px;
}
#form-group-StepperadioField6 label{
  font-family: Poppins;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
/*.formio-component-LoanAmount{
width:25%;
}
.formio-component-TotalIncome{
width:55%;
}*/
/*Third page css*/
#form-group-coborrowercolumns{
  max-width:81%; 
}
#tooltipCss {
  border: 1px solid #e0d7d7;
  padding: 2px 10px 2px 20px !important;
  text-align: left;
  box-shadow: #1d3d5a;
  margin-top: -3.5%;
  margin-left: 50px;
  background: white;
  width: 701px !important;
  border-radius: 7px;
}
#tooltipCss ul li{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 25px;
  color: #1A1A1A;
}

#tooltipCss ul li::before {
  content: "\2022";
  color: #6C63FF;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
#form-group-coborrowerImg img{
  width: 22px !important;
  /* height: 22px !important; */
  box-sizing: border-box;
  margin-left: -0.3% !important;
  /* margin-top: 1% !important; */
  padding-top: 5px;
}
#form-group-coborrowerImg{
  height:0px !important;
  margin-bottom:0px !important;
}
#form-group-LoanTenureSelect{
  margin-top:-23%;
  margin-left:-20%;
}
#form-group-BetweenAmount{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 24px;
  /* identical to box height */
  color: #6C63FF;
  margin-left:-140%;
  margin-top: 5px;
}
#form-group-LoanAmountcolumns,
#form-group-coborrowercolumns{
  margin-bottom:0px !important;
}
#form-group-BorrowerColumns{
  height: 70px;
}
#form-group-BorrowerColumns .row>div:nth-child(2){
  padding-left:0px;
}
#form-group-coborrowercolumns{
  margin-bottom:-1% !important;
}
#form-group-LoanAmount input{
  width: 79%;
  height: 40px;
  background: rgba(255, 255, 255, 0.41);
  border: 0.7px solid #1A1A1A;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1.2vw !important;
  color:#1A1A1A !important;
}

.LoanAgreement{
  border: 1px dashed #027856 !important;
  box-sizing: border-box;
  border-radius: 10px;
}
.day,
.month,
.year,
.no,
.loanAmount,
.company,
.amount,
.rate{
  border-top: none !important;
  border-left:none !important;
  border-right: none !important;
  box-shadow:none !important;
  pointer-events: none !important;
  font-weight:bold !important;
  border-bottom: 1px solid #5c5454 !important;
  font-size:1.2vw !important;
  font-weight:bold !important;
  color: #1A1A1A !important;
}
.day{
  width:4% !important;

}
.month{
  width:8% !important;
}
.year{
  width:3% !important;
}
.no,
.rate{
  width:5% !important;
}
.loanAmount,
.company,
.amount{
  width:6% !important;
}

.firstDiv,
.secondDiv{
  margin-left: 2% !important;
}
.loanLeft{
  margin-left: 5px !important;
}
.TermsCond p,
.declaration,
.LoanAgreement p {
  font-family: Poppins;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 27px !important;
  letter-spacing: 0em;
  text-align: left;
  color:#1A1A1A;
  margin-bottom:10px;
}
.declaration ul{
  margin-left:30px;
}
.TermsCond h3,
.declaration h3,
.firstDiv h3,
.secondDiv h3{
  color:#1A1A1A;
}
.declaration ul li{
  margin-bottom:20px;
}
.declaration h3{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6vw !important;
  line-height: 39px;
  /* identical to box height */
  color: #1A1A1A;
}
.TermsCond h3{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6vw !important;
  /* line-height: 45px;
  identical to box height */
  color: #1A1A1A;
}
.formio-component-BorrowerColumns .col-md-6:nth-child(1){
  width:6%;
}
.containerCss .MainClass:nth-child(1){
  margin-left:1px !important;
}

.LoanAgreement .firstDiv h3{
  font-size:1.5vw !important;
  height: 25px;
}
.LoanAgreement .secondDiv h3{
  font-size: 1.2vw !important;
  font-style: normal;
  font-weight: 500;
  line-height: 39px !important;
  letter-spacing: 0em;
  text-align: left;

}
#form-group-borrower1label{
  margin-top:12px;
  margin-bottom:3px;
  font-family: Poppins;
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#4C4C4C;
}

#form-group-Borrower2Label{
  margin-top:7px;
  margin-bottom:3px;
  font-family: Poppins;
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#4C4C4C;
}
.formio-component-LoanColumns .col-md-6{
  width:51% !important;
  margin-top: -9px;
}

#form-group-StepperadioField7 label{
  font-family: Poppins;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color:#1A1A1A;
}

/*.formio-component-StepperadioField7 .radio-inline:nth-child(1),
.formio-component-StepperadioField7 .radio-inline:nth-child(4),
.formio-component-StepperadioField7 .radio-inline:nth-child(7){
margin-left:-2% !important;
}*/
.formio-component-StepperadioField7 .radio-inline:nth-child(1){
  margin-left:10px;
}
.formio-component-StepperadioField7 .radio-inline:nth-child(2),
.formio-component-StepperadioField7 .radio-inline:nth-child(3){
  margin-left:10% !important;
}
.formio-component-StepperadioField7 .radio-inline:nth-child(5){
  margin-left: 12.5% !important;
}

.formio-component-StepperadioField7 .radio-inline:nth-child(6){
  margin-left: 11.8% !important;
}
.formio-component-StepperadioField7 .radio-inline:nth-child(4),
.formio-component-StepperadioField7 .radio-inline:nth-child(5),
.formio-component-StepperadioField7 .radio-inline:nth-child(6),
.formio-component-StepperadioField7 .radio-inline:nth-child(7){
  margin-top:10px;
}
.formio-component-StepperadioField7 label{
  margin-left:10px;
}
.formio-component-OtherBorrower input{
  height: 40px !important;
  width: 76% !important;
  font-family: Poppins;
  font-size: 1.1vw !important;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -5%;
  margin-left: 15%;
  border-radius: 5px !important;
}
/*Terms and condition*/
#form-group-AcceptCheckbox input{
  height: 20px !important;
  width: 20px !important;
  border-radius:7px !important;
  /*margin-top:-5px !important;*/
}
#form-group-AcceptCheckbox label{
  font-size:1.4vw;
  color:#1A1A1A;
}
#form-group-AcceptCheckbox span{
  margin-left:10px;

}
#form-group-TermsandConditions{
  font-size: 1.3vw;
  color: #027856;
  margin-top: -3.5% !important;
  margin-left: -24% !important;
}
#form-group-Stated{
  font-size: 1.3vw;
  color: #1A1A1A;
  margin-left: -42% !important;
  margin-top: 4%;
}
/*Page5 CSS*/
.formio-component-Congratulations{
  text-align: center;
  color:#1A1A1A;
  font-size:14px;
  margin-bottom:5px !important;
}
.formio-component-approvedlabel{
  text-align: center;
  color:#1A1A1A;
  font-size:16px;
  margin-bottom:5px !important;
  font-weight:600;
}
.formio-component-Referofficer{
  text-align: center;
  color:#1A1A1A;
  font-size:16px;
  margin-bottom:5px !important;
  font-weight:500;
}
.formio-component-Reject{
  text-align: center;
  color:#1A1A1A;
  font-size:16px;
  margin-bottom:5px !important;
  font-weight:500;
}
.formio-component-emailNotificationlabel{
  text-align: center;
  color:#1A1A1A;
  font-size:14px;
}
.formio-component-Agreement{
  text-align: center;
  color:#1A1A1A;
  font-size:13px;
  margin-bottom:5px !important;
  font-weight:600;
  margin-top:10px !important;
}
.formio-component-loanConfirmationMainCol{
  /* width: 955px;
  height: 278px;*/
  margin-left: 28%;
  top: 625px;
  width: 530px;
  height: 310px;
  /*left: 633px;
  top: 587px;*/

  background: #FAFCFF;
  border-radius: 10px;
}

#form-group-Congratulations {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw !important;
  line-height: 30px;
  /* identical to box height */
  color: #000000;
}
#form-group-emailNotificationlabel,
#form-group-approvedlabel{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw !important;
  line-height: 36px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}


#form-group-Agreement{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3vw !important;
  line-height: 33px;
  /* identical to box height */

  text-align: center;

  color: #5E9EFF;
}

/*congratulations*/
#form-group-AmountFinanced,
#form-group-Upfrontfees,
#form-group-PaymentEveryMonth,
#form-group-TotalofPayments,
#form-group-TotalInterest,
#form-group-APR,
#form-group-Allpaymentandfees{
  margin-bottom:-1% !important;
}
#form-group-AmountFinanced label,
#form-group-Upfrontfees label,
#form-group-PaymentEveryMonth label,
#form-group-TotalofPayments label,
#form-group-TotalInterest label,
#form-group-APR label,
#form-group-Allpaymentandfees label{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw !important;
  line-height: 36px;
  /* identical to box height */
  height: 36px;
  color: #000000;
}
#form-group-AmountFinanced .leftLayout,
#form-group-Upfrontfees .leftLayout,
#form-group-PaymentEveryMonth .leftLayout,
#form-group-TotalofPayments .leftLayout,
#form-group-TotalInterest .leftLayout,
#form-group-APR .leftLayout,
#form-group-Allpaymentandfees .leftLayout{
  width:300px;
  /*  margin-left:10%*/
}

#form-group-AmountFinanced .leftLayoutControl,
#form-group-Upfrontfees .leftLayoutControl,
#form-group-PaymentEveryMonth .leftLayoutControl,
#form-group-TotalofPayments .leftLayoutControl,
#form-group-TotalInterest .leftLayoutControl,
#form-group-APR .leftLayoutControl,
#form-group-Allpaymentandfees .leftLayoutControl{
  width:200px;
  margin-left:5%
}
.formio-component-AmountFinanced .form-control[disabled],
.formio-component-Upfrontfees .form-control[disabled],
.formio-component-PaymentEveryMonth .form-control[disabled],
.formio-component-TotalofPayments .form-control[disabled],
.formio-component-TotalInterest .form-control[disabled],
.formio-component-APR .form-control[disabled],
.formio-component-Allpaymentandfees  .form-control[disabled]{
  background: transparent !important;
  margin-top:1%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw !important;
  line-height: 36px;
  /* identical to box height */
  height: 36px;
  color: #000000;
  border:none;
  top:5px !important;
}
button#Clickheretoaddyoursignature {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4vw;
  line-height: 36px;
  /* identical to box height */
  text-align: left;;
  text-decoration-line: underline;

  color: #57A5FF !important;
  background:transparent !important;
  float:left !important;
}
#form-group-confirmGif{
  margin-bottom:0px !important;
  height: 37px;
}
#form-group-ApproveImage{
  height:30px !important;
}
#form-group-confirmGif img{
  height:55px !important;
  width:200px !important;
}
#form-group-ApproveImage img{
  width: 30px !important;
  height: 30px !important;
}

/*Total payments*/
#form-group-Totalof,
#form-group-payments{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw !important;
  line-height: 36px;
  height: 36px;
  color: #000000;

}
#form-group-TotalPaymentColumns .row>div:nth-child(2){
  width:19%;
}
#form-group-TotalPaymentColumns .row>div:nth-child(3),
#form-group-TotalPaymentColumns .row>div:nth-child(4){
  padding:0px !important;
}

#form-group-Totalof{
  margin-left:35px;
  float:right;
}
#form-group-TotalPaymentColumns{
  margin-top:5px;
}
#form-group-TotalPaymentColumns{
  margin-bottom:0px !important;
  height:30px;
}
#form-group-LoanTenurePayment input[disabled]{
  background: transparent !important;
  margin-top:1%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw !important;
  line-height: 36px;
  /* identical to box height */
  height: 36px;
  color: #000000;
  border:none;
}
#form-group-LoanTenurePayment{
  margin-bottom:0px !important;

}
/*POPUP css*/

#donotwrapprefixcss .ui-dialog {
  width: 27% !important;
  max-width: 400px !important;
  max-height: 2400px !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
}
#donotwrapprefixcss .ui-dialog-titlebar{
  background:#027856 !important;
}
.ui-dialog-title{
  font-size:18px;
}
#donotwrapprefixcss #nbt-modal-box-content{
  font-size:18px;
}
#donotwrapprefixcss .ui-dialog-buttonset .ui-button-text{
  font-size:15px;
}
#donotwrapprefixcss .ui-dialog-buttonset button{
  background-color:#027856 !important;
}
.preloader-container{
  display : none !important;
}
.nav:before {
  position: absolute !important;
  content: ""!important;
  width: 100%!important;
  height: 1.5px!important;
  left: 0!important;
  background: grey !important;
  top: 32% !important;
  margin-left:50px !important;
}
/*new*/
.formio-component-TotalPaymentColumns .row>div:nth-child(1){
  width: 10% !important;
}
.formio-component-TotalPaymentColumns .row>div:nth-child(2){
  width: 24% !important;
}
.formio-component-TotalPaymentColumns .row>div:nth-child(3){
  width: 9% !important;
}
.formio-component-TotalPaymentColumns .row>div:nth-child(4){
  width: 16% !important;
}
.formio-component-TotalPaymentColumns .row>div:nth-child(5){
  width: 40% !important;
}
input#LoanTenurePayment {
  text-align:center;
}
.formio-component-StepperadioField6 .glyphicon{
  position: relative;
  top: -8.5vw;
  left: 25vw;
}
.formio-component-StepperadioField7 .glyphicon{
  position: relative;
  top: -10.5vw;
  left: 16vw;
}
input#TotalofPayments {
  padding-top: 0px;
  top: 1px !important;
  left: 5px;
}